*
{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(al.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   /* background-color:#848484;*/
}
input
{
    margin-bottom: 10px;
    margin-top: 5px;
    border-style: outset;
    border-color: #0404B4;
    padding: 3px;
    margin-left: 120px;
border: solid 2px #0B614B;
border-style: outset;
text-align: center;
font-size: 20px;
font-family: serif;
color:black;
background:#F2F2F2;
    
}

.signup
{
    color:black ;
    font-family: cursive;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 170px;
    
}

.note a
{
    
    color: #0404B4;
   text-decoration: none;
   
    
    
}

.note a:hover
{
color: #424242;    
   text-decoration: none;
    
    
}


form{
    
    
    border: solid 5px #088A85;
    margin-left: 100px;
    margin-right: 750px;
    margin-top: 106px;
background-color:#CED8F6;/* #E1F5A9;*/
}

Button{
    text-align: center;
    padding: 3px;
    margin: 5px;
    color: #151515;
    border: solid 2px black;
    margin-left: 170px;
    margin-bottom:70px;
    margin-top:10px;
      width:150px;
    height:50px;
    font-size: 20px;
        border-color:#2ECCFA;
        border-style: outset;
background: #E6E6E6;
    
    
}


p{
    text-align: center;
    color:red;
    padding: 3px;
    margin: 5px;
    color: black;
    margin-left: 1px;
    margin-bottom: 9px;
    margin-top: 10px;
    font-family: cursive;
}